In [24]:
load("HH-of-T3.sage")

In [16]:
T = SL2Z.1
Blurange_table([T^k for k in [0,1,2,3,4,12]],2)

┌─────────────────┬────┬────┐
│ 0               | 1  | 2  |
╞═════════════════╪════╪════╡
│ [1 0]
[0 1]     | 1  | 2  |
├─────────────────┼────┼────┤
│ [1 1]
[0 1]     | 1  | 3  |
├─────────────────┼────┼────┤
│ [1 2]
[0 1]     | 2  | 6  |
├─────────────────┼────┼────┤
│ [1 3]
[0 1]     | 3  | 9  |
├─────────────────┼────┼────┤
│ [1 4]
[0 1]     | 4  | 12 |
├─────────────────┼────┼────┤
│ [ 1 12]
[ 0  1] | 12 | 36 |
└─────────────────┴────┴────┘

In [17]:
S = SL2Z.0
T = SL2Z.1

In [7]:
Blurange_table([S*T^k for k in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]],2)

┌─────────────────┬────┬────┐
│ 0               | 1  | 2  |
╞═════════════════╪════╪════╡
│ [ 0 -1]
[ 1  0] | 2  | 4  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  1] | 1  | 2  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  2] | 1  | 3  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  3] | 1  | 2  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  4] | 2  | 4  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  5] | 3  | 6  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  6] | 4  | 8  |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  7] | 5  | 10 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  8] | 6  | 12 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1  9] | 7  | 14 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1 10] | 8  | 16 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1 11] | 9  | 18 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1 12] | 10 | 20 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1 13] | 11 | 22 |
├─────────────────┼────┼────┤
│ [ 0 -1]
[ 1 14] | 12 | 24 |
└─────────────────┴────┴────┘

In [8]:
Blurange_table([S^k for k in [0,1,2,3]],2)

┌─────────────────┬───┬───┐
│ 0               | 1 | 2 |
╞═════════════════╪═══╪═══╡
│ [1 0]
[0 1]     | 1 | 2 |
├─────────────────┼───┼───┤
│ [ 0 -1]
[ 1  0] | 2 | 4 |
├─────────────────┼───┼───┤
│ [-1  0]
[ 0 -1] | 4 | 5 |
├─────────────────┼───┼───┤
│ [ 0  1]
[-1  0] | 2 | 4 |
└─────────────────┴───┴───┘

In [9]:
T.inverse()

[ 1 -1]
[ 0  1]

In [10]:
Blurange_table([T*S^k*T.inverse(
) for k in [0,1,2,3]],2)

┌─────────────────┬───┬───┐
│ 0               | 1 | 2 |
╞═════════════════╪═══╪═══╡
│ [1 0]
[0 1]     | 1 | 2 |
├─────────────────┼───┼───┤
│ [ 1 -2]
[ 1 -1] | 2 | 4 |
├─────────────────┼───┼───┤
│ [-1  0]
[ 0 -1] | 4 | 5 |
├─────────────────┼───┼───┤
│ [-1  2]
[-1  1] | 2 | 4 |
└─────────────────┴───┴───┘

In [25]:
Patrick_dim_GL2_skein_table([T*S^k*T.inverse(
) for k in [0,1,2,3]])

┌─────────────────┬──────┐
│ [1 0]
[0 1]     | 7    |
├─────────────────┼──────┤
│ [ 1 -2]
[ 1 -1] | 5    |
├─────────────────┼──────┤
│ [-1  0]
[ 0 -1] | 11/2 |
├─────────────────┼──────┤
│ [-1  2]
[-1  1] | 5    |
└─────────────────┴──────┘

In [23]:
get_dim_empty_skein(T)

[1, 5]